@font-face {
	font-family: 'be-social';
	src:url('fonts/icomoon.eot?8ejk7n');
	src:url('fonts/icomoon.eot?#iefix8ejk7n') format('embedded-opentype'),
		url('fonts/icomoon.woff?8ejk7n') format('woff'),
		url('fonts/icomoon.ttf?8ejk7n') format('truetype'),
		url('fonts/icomoon.svg?8ejk7n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="be-social-"], [class*=" be-social-"] {
	font-family: 'be-social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.be-social-linkedin:before {
	content: "\f08c";
}
.be-social-twitter:before {
	content: "\f099";
}
.be-social-facebook:before {
	content: "\f09a";
}
.be-social-rss:before {
	content: "\f09e";
}
.be-social-gplus:before {
	content: "\f0d5";
}
.be-social-youtube:before {
	content: "\f167";
}
.be-social-pinterest:before {
	content: "\e601";
}
